.DS_Store
.ai
.idea
.vscode
env
venv
.env
__pycache__
*.log
assets/admin/*
!assets/admin/.gitkeep
assets/files/uploads/*
!assets/files/uploads/.gitkeep
assets/files/reports/*
!assets/files/reports/.gitkeep
nginx/prod/certificates/*
!nginx/prod/certificates/.gitkeep
nginx/test/certificates/*
!nginx/test/certificates/.gitkeep
